html {
	background: #FFFAEE
     }

@font-face { font-family: Domaine; src: url('Domaine Display Black Italic.otf');}
@font-face { font-family: Radikal; src: url('Radikal Bold.otf');}


h1 {
font-family: Domaine;
}

h2 {
font-family: Radikal;
font-size: 12px;
}


body {
			margin: 2%;
     }

.sidebar {
						margin-left: 50px;
						position: fixed;
						color: #7BE0CC;
						}
.sidebar .wrapper {
						color: #7BE0CC;
						padding: -3px;
						margin-top: 10px;
						margin-left: -10px;
						width: 130px;
						position: relative;
						min-height: 530px;
						}

.sidebar ul {
						color: #7BE0CC;
						margin: 0;
						margin-left: -10px;
						padding: 0;
						}

.sidebar li {
						color: #7BE0CC;
						line-height: .5em;
						display: block;
						padding-top: 8px;
						margin-bottom: -10px;
						margin-left: -10px;
						list-style-type: none;
						position: relative;
    				bottom: 0;
    				left: 0;
						}

.sidebar li a:visited {
						color: #7BE0CC;
						text-decoration: none;
						}

.sidebar li a:hover {
						color: #EEA0A3;
						-webkit-transition-duration: 0.5s;
 					  transition-duration: all 0.5s;
}

.sidebar .bottom {

}

.dropbtn {
    background-color: #FFFAEE;
		color: #7BE0CC;
    padding: 0;
    border: none;
		text-decoration: none;
		-webkit-transition-duration: 0.5s;
	  transition-duration: all 0.5s;

}

.dropbtn a:hover {
	color: #EEA0A3;
 -webkit-transition-duration: 0.4s;
	transition-duration: all 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
		-webkit-transition-duration: 0.5s;
	 transition-duration: all 0.5s;
}

.dropdown-content {
		font-family: Radikal;
		font-variant: small-caps;
    position: absolute;
    min-width: 160px;
		color: #FFFAEE;
    nononopebox-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		display:block;
		transition: opacity .8s;
		    opacity: 0;
		    height: 0;
		    overflow: hidden;
}

.dropdown-content a {
				color: #FFFAEE;
		    padding: 10px 10px;
		    text-decoration: none;
				background-color: #ECE1CB;
				display:block;
				transition: opacity .8s;
				opacity: 1;
		    height: auto;

}


.dropdown-content a:hover {
	background-color: #F5EDDC;
	display:block;
	transition: opacity .8s;
	opacity: 1;
 	height: auto;
}

.dropdown:hover .dropdown-content {
	display:block;
	transition: opacity .8s;
	opacity: 1;
 	height: auto;
		left:100%;
		bottom:55%;

}

.dropdown:hover .dropbtn {
    color: #EEA0A3;
		-webkit-transition-duration: 0.5s;
 	 transition-duration: all 0.5s;
 }
